.firstPage{
    min-height: 100vh;
    position: relative;
}
@media (min-width:1600px) {
    .firstPage{
        width: 1600px;
        margin:0 auto;
        background-color: #fff;
    }
}
/* .Navbar{
    background-color: red;
} */
.MenuAndMain{
    padding-top: 10px;
    display: flex;
    /* gap: 30px; */
}
.Menu{
    /* background-color: green; */
    width: 18%;
    flex: auto;
}
.Main{
    width: 82%;
    flex: auto;
    /* background-color: yellow; */
}


/* Responsive */
@media (max-width:1200px) {
    .Menu{
        width: 20%;
    }
    .Main{
        width: 80%;
    }
}
@media (max-width:1080px) {
    .Menu{
        width: 22%;
    }
    .Main{
        width: 78%;
    }
}
@media (max-width:990px) {
    .Menu{
        width: 25%;
    }
    .Main{
        width: 75%;
    }
}
@media (max-width:950px) {
    .Menu{
        width: 100%;
        position: absolute;
        bottom: 0;
    }
}